//================================
// @@ ++ Varibles
//================================

$greenLighter: #66FDA5;
$greenLight: #01FC6A;
$greenMain: #019740;
$greenDark: #003115;
$blak: #000000;
