<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ARBOR-service</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>

</head>
<body>

<div class="container-wrap">
        <!-- left side with logo-sitename and menu -->
    <div class="left-fixed-container">
        <aside>
            <div class="row site-info">
                <div class="col-md-12 logo">
                    <img src="../logo.png" alt="ARBOR">
                </div>
                <div class="col-md-12">
                    <div class="core-business">
                        <span>boomchirurgie en tuinonderhoud</span>
                    </div>
                </div>
                <div class="col-md-12 site-name">
                    <span>ARBOR-SERVICE</span>
                </div>
            </div>
            <div class="col-md-12 menu-container">
                <div class="main-menu">
                    <ul>
                        <a href="">
                            <li>Home</li>
                        </a>
                        <a href="#">
                            <li>Tuinwerken</li>
                        </a>
                        <a href="#">
                            <li>Bedrijven</li>
                        </a>
                        <a href="#">
                            <li>Boomverzorging</li>
                        </a>
                    </ul>
                </div>
            </div>
        </aside>
    </div>
    <!-- main content -->
    <div class="right-container">
        <nav></nav>
        <aside>
            <h1>ARBOR BOOMVERZORGING TUINONDERHOUD</h1>

            <p>ARBOR - SERVICE uit Beringen is een jong, energiek bedrijf dat altijd klaarstaat om u te
                helpen met al uw boom -en groenzorgen.
            </p>

            <p>Dankzij de opleiding bij BSBB, de Belgische School voor Boomverzorging en Bosbeheer
                hebben we de nodige ervaring om u te helpen bij al uw problemen.</p>
        </aside>
    </div>
</div>

</body>
</html>