//================================
// @@ ++ Left Side structure
//================================

.left-fixed-container {
  width: 50%;
  transition-delay: .1s;
  transition: width 0.8s;
  position: fixed;
  //z-index: 0;
  left: 0px;
  height: 100vh;
  padding: 0 50px 0;
  background: url("../images/left-image_smaller.jpg") no-repeat center center fixed;
  background-size: cover;
  .site-info {
    text-align: right;
    .logo {
      float: right;
      margin: 50px 0px;
    }
    .core-business {
      font-family: 'Rubik', sans-serif;
      font-weight: 500;
      background: $newLogoGreen;
      display: inline-block;
      color: #ffffff;
      padding: 5px 10px;
      font-size: 1.5em; //24px / 16px
    }
    .site-name {
      transition-delay: .5s;
      transition: width 1s;
      @extend %fontBig;
      color: #ffffff;
      float: right;
      margin: 50px 0px;
    }
  }
  .menu-container {
    text-align: right;
    .main-menu {
      background: url("../images/background_nav.jpg") no-repeat;
      @include opacity-decimal(.7);
      display: inline-block;
      font-size: 1.25em; //20px / 16px
      padding: 20px;
      a {
        color: #ffffff;
        &:hover {
          text-decoration: none;
        }
        li {
          padding: 10px;
          font-weight: bold;
        }
      }
    }
  }
}

