//================================
// @@ ++ Left Side structure
//================================

.left-fixed-container {
  width: 50%;
  transition-delay: .1s;
  transition: width 0.8s;
  position: fixed;
  z-index: 999;
  left: 0px;
  height: 100vh;
  padding: 0 50px 0;
  background: url("../images/left-image_smaller.jpg") no-repeat center center fixed;
  background-size: cover;
  .site-info {
    margin: 5vh 0;
    text-align: right;
    .logo {
      float: right;
      margin: 0 0 10px 0;
    }
    .core-business {
      font-family: 'Rubik', sans-serif;
      font-weight: 500;
      background: $newLogoGreen;
      display: inline-block;
      color: #ffffff;
      padding: 5px 10px;
      //transition-delay: .8s;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      font-size: 1.5em; //24px / 16px
    }
    .site-name {
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      @extend %fontBig;
      color: #ffffff;
      float: right;
      margin: 50px 0px;
    }
  }
  .copyright-desktop {
    color: #ffffff;
    position: absolute;
    bottom: 50px;
    font-size: 0.75em;
  }
}

