//================================
// @@ ++ Left Side structure
//================================

.left-side {
  width: 50%;
  transition-delay: .1s;
  transition: width 0.8s;
  position: fixed;
  z-index: 999;
  left: 0px;
  height: 100vh;
  padding: 0 50px 0;
  background: $newGreenMain url("../images/left-image_smaller.jpg") no-repeat center center fixed;
  background-size: cover;
  .left-side__site-info {
    margin: 5vh 0;
    text-align: right;
    .site-branding__logo {
      float: right;
      margin: 0 0 10px 0;
    }
    .site-branding__slogan {
      @include transition(0.8s);
      font-family: 'Rubik', sans-serif;
      font-weight: 500;
      background: $newLogoGreen;
      display: inline-block;
      color: #ffffff;
      padding: 5px 10px;
      font-size: 1.5em; //24px / 16px
    }
    .site-branding__name {
      @include transition(0.8s);
      @extend %fontBig;
      color: #ffffff;
      float: right;
      margin: 50px 0px;
    }
  }
  .left-side__copyright {
    color: #ffffff;
    position: absolute;
    bottom: 50px;
    font-size: 0.75em;
  }
}

