//================================
// @@ ++ Left Side structure
//================================

.right-container {
  margin-left: 50%;
  padding: 2em;
  width: 40%;
  //background: #ffffff;
  h1 {
    color: $black;
    margin-bottom: 50px;
    @extend %fontBig;
  }
}