//================================
// @@ ++ Right Side structure
//================================

.right-side {
  margin-left: 50%;
  padding: 2em;
  width: 50%;
  height: 100vh;
  background: #ffffff;
  h1 {
    color: $newGreenMain;
    margin-bottom: 50px;
    font-size: $h1Big;
    text-transform: uppercase;
  }
  h2 {
    @extend h1;
  }
  a {
    color: $newGreenMain;
    &:hover {
      text-decoration: underline;
    }
  }
  aside {
    ul {
      padding-left: 25px;
    }
    li {
      list-style-type: disc;
      margin-bottom: 15px;
      line-height: 1.5em;
    }
  }
}