//================================
// @@ ++ Right Side structure
//================================

.right-container {
  margin-left: 50%;
  padding: 2em;
  width: 50%;
  height: 100vh;
  background: #ffffff;
  h1 {
    color: $newGreenMain;
    margin-bottom: 50px;
    font-size: $h1Big;
  }
  aside {
    ul {
      padding-left: 25px;
    }
    li {
      list-style-type: disc;
    }
  }
}