//===========================
// @@ ++ Navigation mobile
//===========================

.navbar-header {
  background: $newGreenMain;
}

.navbar-default {
  .navbar-toggle {
    border: none;
    .icon-bar {
      background: #ffffff;
    }
    &:hover {
      background: $newGreenMain;
    }
  }
  .navbar-collapse {
    background: $newGreenMain;
    li.dropdown {
      background: $newGreenMain;
    }
  }
  .navbar-nav {
    li {
      a {
        color: #ffffff;
        &:hover {
          color: $newLogoGreen;
          text-shadow: none;
        }
      }
    }
    & > .open > a {
      color: $newLogoGreen;
      background-color: $newGreenMain
    }
    & > .open > a:focus {
      color: $newLogoGreen;
      background-color: $newGreenMain
    }
    & > .open > a:hover {
      color: $newLogoGreen;
      background-color: $newGreenMain
    }
    .open {
      .dropdown-menu {
        &>li {
          &>a {
            color: #ffffff;
          }
        }
      }
    }
  }
}

.navbar {
  margin-bottom: 0;
}