{#
/**
* Created by PhpStorm.
* User: Stefan
* contact gegevens include in page.html.twig
*/
#}
<p>
    Joey Liberloo<br>
    <i class="fa fa-map-marker"></i> Nijverheidsstraat 36<br>
    3583 Paal-Beringen<br>
    <i class="fa fa-envelope"></i>
    <script>
        document.write("<a href=\"mail" + "to:" + new Array("arbor-service", "hotmail.com"). join("@") + "\">" +
        "Contacteer ons" + "</" + "a>");
    </script>
</p>