{# contact gegevens include in page.html.twig #}
<p>
    Joey Liberloo<br>
    Nijverheidsstraat 36<br>
    3583 Paal-Beringen<br>
    <script>
        document.write("<a href=\"mail" + "to:" + new Array("arbor-service", "hotmail.com"). join("@") + "\">" +
        "Contacteer ons" + "</" + "a>");
    </script>
</p>