{##}
{#
/**
* Sidebar menu en dropdown menu mobile
*/
#}

<li><a href="{{ base_path }}snoeien-van-bomen">Snoeien van bomen</a></li>
<li><a href="{{ base_path }}vellen-van-gevaarlijke-bomen">Vellen van gevaarlijke bomen</a></li>
<li><a href="#">Standplaats verbetering</a></li>
<li><a href="#">Aanplanten van bomen of leibomen</a></li>
<li><a href="#">Verplanten van bomen</a></li>
<li><a href="#">Kroon- en kluitverankering</a></li>
<li><a href="#">Ziekte- en plaagbestrijding</a></li>
<li><a href="#">Uitgraven of frezen van stronken</a></li>
<li><a href="#">Versnipperen en afvoeren van takken en loof</a></li>
<li><a href="#">Interventies voor, tijdens en na storm</a></li>
<li><a href="#">Advies</a></li>
<li><a href="#">Boomveiligheidsinspecties</a></li>
<li><a href="#">Boombescherming op werven</a></li>
<li><a href="#">Inventarisatie en beheer planning van boombestanden</a></li>