//====================================
// @@ ++ Main menu op the leftSide
//====================================
.menu-container {
  text-align: right;
  .main-menu {
    background: url("../images/background_nav.jpg") no-repeat;
    @include opacity-decimal(.7);
    display: inline-block;
    font-size: 1.25em; //20px / 16px
    padding: 20px;
    a {
      color: #ffffff;
      &:hover {
        text-decoration: none;
      }
      li {
        padding: 10px;
        font-weight: bold;
      }
    }
  }
}