//====================================
// @@ ++ Main menu op the leftSide
//====================================
.menu-container {
  text-align: right;
  .main-menu {
    background: url("../images/background_nav.jpg") no-repeat;
    @include opacity-decimal(.7);
    display: inline-block;
    font-size: 1.25em; //20px / 16px
    padding: 20px;
    li, label {
      font-weight: bold;
      a {
        color: #ffffff;
        &:hover {
          text-decoration: none;
        }
      }
    }
    label {
      padding-top: 5px;
    }
  }
}