//===========================================
// @@ ++ Navigatie boomverzorging
//===========================================

.container-wrap .sidebar {
  background: $newLogoGreen;
  color: $black;
  position: fixed;
  padding: 50px 20px;
  top: 0px;
  left: -310px;
  width: 310px;
  transition: left 0.5s;
  z-index: 0;
  height: 100vh;
  cursor: pointer;
  a {
    &:hover {
    text-decoration: none;
  }
    li {
      color: $black;
      padding-bottom: 10px;

    }
  }

}

.toggle {
  color: #ffffff;
  cursor: pointer;
}

#sidebartoggler {
  display: none;
  &:checked + .container-wrap {
    .site-name {
      @extend %fontLessBig;
    }
    .sidebar {
      transition-delay: .1s;
      left: 0px;
    }
    .left-fixed-container {
      padding-left: 310px;
    }
  }
}
