//==================================================================
// @@ ++ Sidebar Toggler
// @@ ++ Showing sub-menu tree care
// @@ ++ https://github.com/illutek/SlideOutNavigation
//==================================================================
.toggle {
  color: #ffffff;
  cursor: pointer;
}

@media only screen and (max-width: 1600px) and (min-width: 961px) {
 // for screen from 961px to 1600px
  #sidebartoggler {
    display: none;
    &:checked + .container-wrap {
      .left-fixed-container {
        width: 33%;
        .site-info {
          .core-business {
            @include transition(0.8s);
            font-size: 1.0em; //16px/16px
          }
          .site-name {
            @include transition(0.8s);
            font-family: 'Rubik', sans-serif;
            font-weight: 900;
            font-size: $h1Small; //32px/16px
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1601px) {
  // for large screens over 1601px
  #sidebartoggler {
    display: none;
    color: #ffffff;
    &:checked + .container-wrap {
      .left-fixed-container {
        width: 33%;
        .site-info {
          .core-business {
            @include transition(0.8s);
            font-size: 1.0em; //16px/16px
          }
          .site-name {
            @include transition(0.8s);
            font-family: 'Rubik', sans-serif;
            font-weight: 900;
            font-size: $h1LessBig; //48px/16px
          }
        }
      }
    }
  }
}