//===========================================
// @@ ++ Navigatie boomverzorging
//===========================================

.container-wrap .sidebar {
  background: $newLogoGreen;
  color: #ffffff;
  position: fixed;
  padding: 50px 20px;
  top: 0px;
  left: 34%;
  width: 310px;
  transition: left 0.5s;
  z-index: -1;
  height: 100vh;
  cursor: pointer;
  a {
    cursor: pointer;
    &:hover {
    text-decoration: none;
  }
    li {
      color: $black;
      padding-bottom: 10px;

    }
  }

}

.toggle {
  color: #ffffff;
  cursor: pointer;
}

#sidebartoggler {
  display: none;
  &:checked + .container-wrap {
    .left-fixed-container {
      width: 34%;
    }
    .sidebar {
      //transition-delay: .1s;
      //left: 34%;
    }
    .site-name {
      transition-delay: .5s;
      @extend %fontLessBig;
    }
  }
}
