//================================
// @@ ++ Slider Block
//================================

.slider-block {
  margin: 25px 0 25px;
  background: $newLogoGreen;
  padding: 15px;
  img {
    width: 100%;
  }
}