{#
/**
 * Created by Stefan on 22/05/2016.
 */
#}

<div class="">
    {% for type, messages in message_list %}

        {#
        /**
        * depending on an error or a allert is the correct
        * class added
        */
        #}
        {% if type == 'error' %}
            {% set classes = ['alert', 'alert-danger', 'alert--' ~ type] %}
        {% else %}
            {% set classes = ['alert', 'alert-success', 'alert--' ~ type] %}
        {% endif %}

        <div {{ attributes.addClass(classes) }} role="alert">
            {% if messages|length > 1 %}
                <ul>
                    {# for loop ensures that multiple message can be printed#}
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                {{ messages|first }}
            {% endif %}
        </div>

        {# Remove type specific classes #}
        {{ attributes.removeClass(classes) }}

    {% endfor %}
</div>