//================================
// @@ ++ Varibles
//================================

$greenLighter: #66FDA5;
$greenLight: #01FC6A;
$greenMain: #019740;
$greenDark: #003115;
$black: #000000;

$newgreenLighter: #66FFA2;
$newgreenLight: #00FF63;
$newGreenMain: #009A3C;
$newGreenDark: #003314;

$newLogoLighter: #F8FEA2;
$newLogoLight: #72FE3C;
$newLogoGreen: #C7D401;
$newLogoDark: #676E00;



//================================
// @@ ++ Placeholders
//================================

%fontBig {
  font-family: 'Rubik', sans-serif;
  font-weight: 900;
  font-size: 4.8125em; //77px/16px
}

%fontLessBig {
  font-family: 'Rubik', sans-serif;
  font-weight: 900;
  font-size: 3.75em; //60px/16px
}

