//================================
// @@ ++ Media query 1025
//================================

@media only screen and (max-width: 1025px) {
  .left-fixed-container {
    .site-info {
      .core-business {
        font-size: 1.0em;
      }
      .site-name {
        font-size: $h1Standard;
      }
    }
  }
  .container-wrap .sidebar {
    h2 {
      font-size: 1.0em;
    }
  }
  .right-container {
    img {
      width: 50%;
      height: auto;
    }
    h2 {
      font-size: $h1Standard;
    }
  }
}