//================================
// @@ ++ Media query 479
//================================

@media only screen and (max-width: 479px) {
  /* css code voor smartphones in portrait mode */
  .right-container {
    height: auto;
    padding: 1em;
    h2 {
      font-size: $h1Smaller;
      margin-bottom: 20px;
    }
    
    img {
      width: 100%;
      height: auto;
    }
    .mobile-core-business {
      padding-bottom: 15px;
      font-family: 'Rubik', sans-serif;
      font-weight: bold;
    }
  }
  img {
    width: 100%;
    height: auto;
  }
}