//================================
// @@ ++ 
//================================

@media only screen and (min-width: 961px) {
  //higher than 960px switch to desktop version

  //mobile
  .mobile-version-container, .mobile-footer {
    display: none;
  }

  .midle-menu-container, .left-side, .desktop-footer {
    display: block;
  }
  .right-side {
    img {
      float: left;
      margin-right: 15px;
    }
  }
}