//================================
// @@ ++ Media query 960
//================================

@media only screen and (max-width: 960px) {
  /* css code voor tablets in portrait mode */
  //lower than 960px switch to mobile version

  .sidebar, .left-fixed-container, .desktop-footer, input#sidebartoggler {
    display: none;
  }
  .mobile-version-wrap, .mobile-footer {
    display: block;
  }

  .wrapper {
    background: url("../images/left-image_smaller.jpg") no-repeat;
    background-size: cover;
  }
  .right-container {
    background: none;
    margin-left: 0;
    width: 100%;
    .main-content {
      background: rgba(255, 255, 255, 0.9);
      padding: 15px;
    }
    img {
      width: 33%;
      height: auto;
      float: left;
      margin-right: 15px;
    }
  }
}

