//================================
// @@ ++ Media query 1025
//================================

@media only screen and (max-width: 1025px) {
  .left-side {
    .left-side__site-info {
      .site-branding__slogan {
        font-size: 1.0em;
      }
      .site-branding__name {
        font-size: $h1Standard;
      }
    }
  }
  .container-wrap .midle-menu-container {
    h2 {
      font-size: 1.0em;
    }
  }
  .right-side {
    img {
      width: 50%;
      height: auto;
    }
    h2 {
      font-size: $h1Standard;
    }
  }
}