//=======================
// @@ ++ Header mobile
//=======================

.mobile-header {
  background: url("../images/background-header_nav.jpg") no-repeat;
  background-color: $newLogoGreen;
  text-align: center;
  margin-bottom: 15px;
  .mobile-sitename {
    h1 {
      padding: 10px 0;
      font-size: $h1Standard; //40px/16px
      color: $newGreenMain;
    }
  }
  .mobile-core-business {
    padding-bottom: 15px;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
  }
}

