//=======================
// @@ ++ Header mobile
//=======================

.mobile-version__header {
  background: url("../images/background-header_nav.jpg") no-repeat;
  background-color: $newLogoGreen;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 50px;
  .mobile-version__sitename {
    h1 {
      padding: 10px 0;
      font-size: $h1Standard; //40px/16px
      color: $newGreenMain;
    }
  }
  .mobile-version__slogan {
    padding-bottom: 15px;
    font-weight: bold;
  }
}

