//===========================
// @@ ++ Navigation mobile
//===========================

.navbar-default {
  .navbar-toggle {
    border: none;
    .icon-bar {
     background: #ffffff;
    }
  }
}



.navbar {
  margin-bottom: 0;
}

.navbar-header {
  background: $newGreenMain;
}